body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;

        background-image: url('fond.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    

    }
.img-right {
        float: right;
        margin-left: 10px;

    }
    .Vcard {
        border: 2px solid rgba(235, 227, 227, 0.384);
        padding: 20px;
        margin: 20px auto;
        width: 300px;
        background-color: rgba(136, 179, 187, 0.582);
        align-items: center;
        text-align: center;
    }

    h1 {
        color: darkblue;
        text-align: center;
        margin-bottom: 10px;

    }

    h2 {
        color: darkgreen;
        text-align: center;
        margin-bottom: 15px;

    }

    h3 {
        color: rgb(143, 0, 0);
        text-align: center;
        margin-bottom: 15px;
        font-size: 1.3em;
    }
    h4 {
        color: rgb(16, 46, 4);
        text-align: left;
        margin-bottom: 15px;
        font-size: 1.2em;
        font-weight: bold;
    }


    
    li {
        margin: 12px 0;
        line-height: 1.8;
        background-color: rgba(169, 169, 169, 0.486);
    }

    a[href^="mailto:"] {
        color: darkred;
        text-decoration: none;
    }

    blockquote {
        font-style: italic;
        font-size: 2em;
        text-align: center;
        margin-bottom: 10px;

        display: block;
        color: rgb(204, 192, 25);
    }
